/* #region Common */
:root {
  --ds-dark: #22272b;
  --ds-primary: #8ea0e0;
  --ds-light: #f7f7f6;
  --ds-lighter: #ffffff;
  --fw-600: 600;
}
/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fredoka", sans-serif;
  font-family: "Roboto", sans-serif;
}

section {
  padding: 2rem 0;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5rem;
}
/* #endregion Common */

/* #region Utility */
.container {
  width: 70%;
  max-width: 1140px;
  margin: auto;
}

.container_sm {
  width: 60%;
  max-width: 840px;
  margin: auto;
}

.list_inline {
  list-style: none;
}

.d_flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.justify_center {
  justify-content: center;
}

.align_center {
  align-items: center;
}

.text_center {
  text-align: center;
}

.mt_1 {
  margin-top: 1rem;
}

.mt_2 {
  margin-top: 2rem;
}

.mt_3 {
  margin-top: 3rem;
}

.mb_1 {
  margin-bottom: 1rem;
}

.mr_3 {
  margin-right: 3rem;
}

.w_40 {
  width: 40%;
}

.w_60 {
  width: 60%;
}

.btn {
  font-size: 1.15rem;
  font-weight: var(--fw-600);
  padding: 15px 25px;
  display: inline-block;
  border: none;
  border-radius: 1.5rem;
}

.btn_small {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}

.btn_lg {
  padding: 1.25rem;
  font-size: 1rem;
}

.btn_light {
  background-color: var(--ds-light);
  color: var(--ds-dark);
}

.btn_dark {
  background-color: var(--ds-dark);
  color: var(--ds-lighter);
}

.btn_primary {
  background-color: var(--ds-primary);
  color: var(--ds-lighter);
}
/* #endregion Utility */

/* #region Header */
.logo,
.login {
  flex-grow: 1;
}

.main_menu {
  flex-grow: 4;
  text-align: center;
}

.main_menu a {
  color: var(--ds-lighter);
}

.login {
  text-align: end;
}

ul.list_inline {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#app_header {
  padding: 3rem;
  background-color: #255ee8;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.jumbotron {
  background-image: url("../img/jumbo.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 898px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.jumbotron h1 {
  font-size: 3.5rem;
  margin-top: 6rem;
  margin-bottom: 2rem;
  color: var(--ds-lighter);
}

.jumbotron p {
  font-size: 1.5rem;
  color: var(--ds-lighter);
}

.jumbotron .call_to_action {
  margin-top: 3rem;
}
/* #endregion Header */

/* #region Main */
section .section_text > h2 {
  font-size: 2.5rem;
  margin: 1.5rem 0;
}

#safe_talk,
#fandom {
  background-color: var(--ds-lighter);
}

#easy_meetings,
#reliable {
  background-color: var(--ds-light);
}

.wave_top {
  color: var(--ds-light);
  margin-bottom: -10px;
}

.wave_bottom {
  color: var(--ds-light);
  margin-top: -10px;
  rotate: 180deg;
}
h4 {
  width: 40%;
  margin: auto;
  padding: 50px 0;
  background-image: url(./../img/stars.svg);
  background-size: 100% 100%;
  background-position: center;
}
/* #endregion Main */

/* #region Footer */
#app_footer {
  padding: 1rem 0;
  background-color: var(--ds-dark);
  color: var(--ds-lighter);
}

#app_footer .talk {
  width: 40%;
}

.item {
  width: calc(100% / 4);
}

#app_footer ul {
  list-style: none;
}

#app_footer h3,
#app_footer h4 {
  color: var(--ds-primary);
}

#app_footer .bottom {
  margin-top: 1rem;
  border-top: 1px solid gray;
  padding: 1rem 0;
  justify-content: space-between;
}

#app_footer .language {
  font-size: 14px;
  margin: 1.5rem 0;
}

.language > span {
  margin: 0 0.5rem;
}

.social {
  display: flex;
  gap: 0.75rem;
}

/* #endregion Footer */
